body {
  font-family: 'Inter', system-ui, sans-serif;
  background: #ffffff;
  color: #000000;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
